body {
    background-color: burlywood;
}

.calculator {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding: 15px 15px;
    width: 400px;
    background-color: coral;
    border-radius: 20px;
}

.calculator-screen {
    width: 90%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 45px;
    border: none;
    padding: 0 20px;
    border-radius: 20px;
    margin-bottom: 10px;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: gray;
    border: 1px solid black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

button:hover {
    background-color: darkgray;
}

.all-clear, .zero-btn, .delete {
    width: 25%;
}

.operator, .equal-sign {
    background-color: orange;
}

.operator:hover, .equal-sign:hover {
    background-color: darkorange;
}