body {
    background-color: burlywood;
    
}

.calculator {
    text-align: center;
    margin: auto;
    margin-top: 48px;
    padding: 15px 15px;
    width: 400px;
    background-color: coral;
    border-radius: 20px;
    border: 3px solid black;
}

.calculator-screen {
    width: 87%;
    height: 100px;
    background-color: white;
    box-shadow: 4px 4px black;
    color: black;
    text-align: right;
    font-size: 45px;
    border: 2px solid black;
    padding: 0 20px;
    border-radius: 20px;
    margin-bottom: 18px;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: gray;
    border: 1px solid black;
    box-shadow: 4px 4px black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
    border-radius: 10px;
    margin-right: 8px;
    margin-bottom: 8px;
}

button:hover {
    background-color: darkgray;
    cursor: pointer;
}

button:active {
    transform: translateY(5px);
    box-shadow: 1px 1px black;
}

.all-clear, .zero-btn, .delete {
    width: 25%;
}

.operator, .equal-sign {
    background-color: orange;
}

.operator:hover, .equal-sign:hover {
    background-color: darkorange;
}